*{
  color:white;
}
.App {
  background-color: #2D2D2D;
  height: 100vh;
  padding: 12px;
  position: relative;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infobox{
  display: flex;
  align-items: center;
}
.help-text{
  margin: 5px;
}
.language-box{
  margin: 5px;
  border: 2px solid white;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.language-text{
  margin: 5px;
}


.mainContent{
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.upload-container{
  width: fit-content;
  box-sizing: border-box;
}
.mainForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fileInput {
  /* Hide the default input completely */
  visibility: hidden; 
  width: 0;
  height: 0;
  /* Use position: absolute or display: none if visibility: hidden causes layout issues in some browsers */
  position: absolute;
}
.file-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2em;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
  transition: background-color 0.3s;
}
.file-label:hover {
  background-color: #e9ecef;
}
.upload-icon {
  font-size: 2em;
  color: #007bff;
  margin-bottom: 0.5em;
}
.upload-text {
  color: #555;
}
.block-number{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-label{
  padding: 5px;
}
.block-input{
  margin: 5px;
  height: 50%;
}
#submitButton{
  background-color: rgb(33, 204, 33);
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
}

.footer{
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: black;
  margin: -12px;
  margin-top: 12px;
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
}